.employeTable{
    text-align: center;
    color: cornflowerblue;
}
table tr td{
    text-align: center;
    padding: 0.5rem;
}
tr.topTable{
    padding: 12px 14px;
}
tr.tabletRow{
    padding: 12px 10px;
}